<script setup lang="ts"></script>
<template>
  <v-parallax src="https://i.imgur.com/wH3Oo0x.jpeg">
    <h1 class="font-italic" style="text-align: center">My Profile</h1>
    <v-container>
      <v-row justify="center">
        <v-col cols="2">
          <v-img
            src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160139"
            max-width="500"
            max-height="650"
          >
          </v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div style="text-align: center">
            <h3 style="font-size: 40px" class="font-italic">
              นาย พงษ์พิพัฒน์ เสี่ยงสาย
            </h3>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="font-italic">
          <h4 style="font-size: 26px">ประวัติการศึกษา</h4>
          <v-table theme="dark">
            <thead>
              <tr>
                <th style="font-size: 20px">ข้อมูลด้านการศึกษา</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>64160139</td>
              </tr>
              <tr>
                <td>เลขที่บัตรประชาชน:</td>
                <td>1407800009801</td>
              </tr>
              <tr>
                <td>ชื่อ:</td>
                <td>นายพงษ์พิพัฒน์ เสี่ยงสาย</td>
              </tr>
              <tr>
                <td>ชื่ออังกฤษ:</td>
                <td>MR. PONGPIPAT SIANGSAI</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>วิทยาเขต:</td>
                <td>บางแสน</td>
              </tr>
              <tr>
                <td>หลักสูตร:</td>
                <td>
                  2115025 วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 64 - ป.ตรี 4 ปี
                  ปกติ
                </td>
              </tr>
              <tr>
                <td>ระดับการศึกษา:</td>
                <td>ปริญญาตรี</td>
              </tr>
              <tr>
                <td>ปีการศึกษาที่เข้า:</td>
                <td>2563 / 3 วันที่ 19/5/2564</td>
              </tr>
              <tr>
                <td>จบการศึกษาจาก:</td>
                <td>บดินทรเดชา (สิงห์ สิงหเสนี) สมุทรปราการ</td>
              </tr>
              <tr>
                <td>อ. ที่ปรึกษา:</td>
                <td>ผู้ช่วยศาสตราจารย์จรรยา อ้นปันส์</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card
            style="text-align: center"
            variant="tonal"
            color="white"
            class="font-weight-black"
          >
            <div>
              <h1>สิ่งที่สนใจ</h1>
              <p style="font-size: 25px">
                ผมสนใจเรื่องการเรียนจบแล้วไปทำงานพวกสายเกมการสร้างเกมและภาษาอังกฤษเรื่องการรสื่อสารการอ่านและการเขียน
                เพราะต้องการที่จะสื่อสารกับต่างชาติได้และนำไปใช้ในที่ทำงานตอนเวลาทำงานได้
              </p>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-parallax>
</template>
<style></style>
